@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Just+Me+Again+Down+Here&display=swap')

body{
	font-family: "Julius Sans One", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  }

*{
	padding: 3px;
	border:1rem teal;
	margin: 3px;
}
nav {
background: #218464;
box-shadow: 0px 0px 20px 14px rgb(45 90 200); 
font-size:20px;
font-family: "julius sans-serif"sans-serif;
display:flex;
justify-content: space-between;
align-items: center;
padding: 1rem 5rem;
}

nav .logo img {
	max-width: 280px;
}

nav ul {
 list-style: none;
 margin: 0;
 padding:0;
 display: flex;
 gap: 1rem;

}

nav ul li a {
	text text-decoration:none;
	font-size:30px;
	color:#000082;
	font-style: none;
}
.button {
	border: 2rem;
	padding:2rem 2rem;
	background: #29B08F;
	border-radius: 12px;
	text-decoration: none;
  font-weight: 400;
  font-family:"Just Me Again Down Here", cursive;
  font-size: 50px;
  font-style: normal;
	color:#D2EB47;
}

header p {
	front-size:100px;
	margin-top:0;
	margin-bottom:4rem;
	margin-left:auto;
	margin-right:auto;
} 

header {
	background:#29B08F;
	background-image: url("../images/BG.jpeg");
	background-repeat:none;
	padding: 6rem 2rem;
	text-align: center;
	color:white;
}

h1 {
	font-family:"Julius Sans One", sans-serif;
	font-size: 80px;
	color:#D2EA4E;
	padding: 1rem;
	background: none;
	margin: 2rem;
} 
h2{
	font-family:"julius sans-serif,"sans-serif;
	font-size: 60px;
	color:#D2EA4E;
	padding: 1rem;
	margin: 2rem;
	text-align: center;
}
p{
	font-family:"julius sans-serif;"sans-serif;
	font-size: 75px;
	color:#29B08F;
	paddding:1rem;
	background:none;
	margin: 2rem;
	text-align: center;
}

section{
	padding: 3rem;
	text-align: center;
}

iframe{
	width:100%;
	height: 350px;
}

table{
	border:1px solid #D2EA36;
	text-align: center;
}

table td {
	border: 3px solid #000082;
	padding: 10px;
	text-align: center;
}


footer form input{
	border: 3px solid #333;
	text-align: center;
}
